doctype html
html
  head
    //-title= pageTitle
    title My Big Title
    //- !!! You must use '/static' in front of '/stylesheets...' etc. !!!
    //- http://0.0.0.0:3000/static/stylesheets/style.css
    link(rel="stylesheet", href="/static/stylesheets/style.css", type="text/css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", type="text/css")
  body
    h3 Layout here...
    p My new favorite blue paragraph, no?
    block content
